@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your CSS file */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-264px * 6)); /* 6 cards * (264px width + 24px gap) */
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}